textarea.example {
  width: 80%;
  min-height: 100px;
}

.download.well {
  margin-left: 15px;
  display: block;
}

.exCtrl h4 {
  margin-bottom: 5px;
}

.exInnerWrapper {
}

.example.wrapper {
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.twrapper {
}

.rwrapper {
  border-bottom: 4px solid #ccc;
  padding-bottom: 10px;
}

h2 {
  margin-top: 20px;
}

.btn {
  margin-bottom: 5px;
}

div.sidebar-nav ul.nav-list li.nav-header {
  font-size: 1em;
  color: #565656;
}

li.nav-subheader {
  font-style: italic;
}

li.nav-example {
  margin-left: 10px;
}

header h1 {
  padding-bottom: 10px;
  border-bottom: 6px solid #E0E4CC;
}

header {
  margin-bottom: 40px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.title {
  font-size: 35px;
  line-height: 35px;
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 900;
}

.tagline {
  font-size: 20px;
  line-height: 25px;
  color: #585C60;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.roundlink {
  display: inline-block;
  font-size: 15px;
  line-height: 14px;
  border: 4px solid #F8F8F8;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  z-index: 999;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  color: #999;
  margin-left: -15px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}

.roundlink :hover {
  color: #D95B43;
  border-color: #D95B43;
}


